.tag {
  min-width: 11.5rem;
  color: white;
  background-color: #ff6060;
  border-radius: 1rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  padding: 0.2rem 0.5rem;
}
.tag span {
  line-height: 0;
}

@media (max-width: 768px) {
  .tag {
    min-width: 84px;
    font-size: 10px;
  }
}
