.dropdown {
  width: min(1023px, calc(100% - 40px));

  margin-inline: auto;
}

.header {
  width: 100%;
  background-color: rgb(255, 96, 96);
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem 1.81rem;
}

.dropdown h2 {
  color: white;
  font-size: 2.4rem;
}

.dropdown i {
  color: white;
}

.message {
  background-color: #f6f6f6;
  padding: 2.3rem 1.8rem;
  font-size: 2.4rem;
}
/* 
@media (max-width: 768px) {
  .header {
    width: min(768px, calc(100% - 40px));
  }
} */
